In [1]:
import pandas as pd
import numpy as np
import cptac
import cptac.utils as u

In [2]:
brain_cancer = cptac.Gbm()

In [3]:
df = u.get_frequently_mutated(brain_cancer, cutoff=.05)

Warning: In joining the somatic_mutation table, no mutations were found for the following samples, so they were filled with Wildtype_Tumor or Wildtype_Normal: 78 samples for the TP53 gene (C:\Users\brittany henderson\Anaconda3\envs\Research\lib\site-packages\cptac\utils\__init__.py, line 342)

In [4]:
df.sort_values(by='Unique_Samples_Mut', ascending=False)

Name     Gene  Unique_Samples_Mut  Missense_Mut  Truncation_Mut  Non-Coding
18       TP53                0.32          0.27            0.05        0.00
14       PTEN                0.27          0.16            0.11        0.00
4        EGFR                0.16          0.16            0.00        0.00
11        NF1                0.16          0.02            0.15        0.00
15        RB1                0.10          0.00            0.10        0.01
12     PIK3CA                0.10          0.09            0.01        0.00
16       RYR2                0.09          0.08            0.02        0.00
1        ATRX                0.09          0.02            0.07        0.00
17       RYR3                0.08          0.07            0.01        0.00
9       MUC16                0.08          0.08            0.00        0.00
0     ARHGAP5                0.07          0.05            0.04        0.00
6        HCN1                0.07          0.06            0.01        0.00
7       HMCN1                0.07          0.07            0.00        0.00
8        IDH1                0.07          0.07            0.00        0.00
13     PIK3R1                0.07          0.05            0.02        0.00
10      MUC17                0.06          0.06            0.00        0.00
5         FLG                0.06          0.06            0.00        0.00
3       DOCK6                0.06          0.05            0.01        0.00
2        BRAF                0.06          0.06            0.00        0.00
19       TTC6                0.06          0.03            0.00        0.03